@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao+Looped:wght@100;200;300;400;500;600&family=Noto+Serif+Lao:wght@100;200;300;400;500;600&family=Poppins:wght@100;400;500;600;700;800;900&display=swap');
*{
  padding: 0; margin: 0;
  box-sizing: border-box;
  transition: all .5s ease-in-out;
}
:root{
  --main-color: #43eee4;
  --color-white:#ffff;
  --color-dark: #272727;
  --color-blue-dark: #2e428b;
  --shadow-color: rgba(30, 30, 29, 0.07);
  --color-btn: #afb4cc;

}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 63.5%;
}
ul ol{
  list-style: none;
}
button{
  outline: 0;
  border: none;
}
a{
  text-decoration: none;
  color: var(--color-white);
}
section{
  padding: 1rem 8%;
  background-color: var(--color-blue-dark);
  width: 100%;
  min-height: 100vh;
  margin-top: 5rem;
}
.btn{
  display: block;
  padding: 0.5rem 1.75rem;
  background-color: var(--color-btn);
  font-size: 1.2rem;
  color: #ffff;
}

@media(max-width:1200px){
  body{
    font-size: 60%;
  }
  section{
    padding: 1rem 2%;
  }
}
@media(max-width:992px){
  body{
    font-size: 55.5%;
  }
}
@media(max-width:500px){
  body{
    font-size: 50%;
  }
  section{
    width: 100%;
  }
}